.bg-custom {
  background-image: url('https://www.eatingwell.com/thmb/YxkWBfh2AvNYrDKoHukRdmRvD5U=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/article_291139_the-top-10-healthiest-foods-for-kids_-02-4b745e57928c4786a61b47d8ba920058.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; /* Remove default margin on body */
  overflow: hidden; /* Hide any potential overflow */
  display: flex; /* Optionally use flex display to center content vertically and horizontally */
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}